# Ignore everything by default
*

# Keep this file
!.gitignore

# Allow root documentation and license
!README.md
!CHANGELOG.md
!LICENSE

# Allow image files
!*.jpg
!*.png

# Allow specific directories and their contents
!reflectx/
!reflectx/**

!.github/
!.github/**

